/* Colors */

html {
  --color-primary: hsl(192, 37%, 48%);
  --color-secondary: hsl(267, 34%, 53%);

  --color-accent-primary: hsl(192, 90%, 77%);
  --color-accent-secondary: hsl(268, 100%, 86%);

  --color-text-base: hsl(239, 10%, 57%);
  --color-text-base-alternative: hsl(0, 98%, 100%);

  --color-text-heading: hsl(239, 21%, 20%);
  --color-text-heading-alternative: hsl(0, 98%, 100%);

  --color-bg-body: hsl(0, 98%, 100%);
}










/* Text */

html {
  --ff-base: 'Red Hat Display', sans-serif;
  --ff-heading: 'Red Hat Display', sans-serif;

  --fs-base: 1rem;         /* 16px */
  --fs-heading: 2.5rem;    /* 40px */
  --fs-subheading: 2rem;   /* 40px */

  --fw-base: 500;          /* Medium */
  --fw-bold: 900;          /* Black  */
}

@media screen and (min-width: 768px) {
  html {
    --fs-heading: 3rem;      /* 48px */
    --fs-subheading: 2.5rem; /* 40px */
  }
}

@media screen and (min-width: 1440px) {
  html { 
    --fs-base: 1.125rem;     /* 18px */
    --fs-heading: 3.5rem;    /* 64px */
    --fs-subheading: 2.2rem; /* 40px */
  }
}










/* Generic */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--color-bg-body);
}

p {
  margin: 0;
}

* {
  margin: 0; /* PLEASE REMOVE LATER */
}









/* Base text and headings */

html {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: 1.4;
  text-align: center;
  color: var(--color-text-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: 1;
  color: var(--color-text-heading);
}

h1 {
  font-size: var(--fs-heading);
}

h2, h3, h4, h5, h6 {
  font-size: var(--fs-subheading);
}










/* logo component reference

.logo
.logo__image
.logo__text

*/

.logo {
  padding: 3rem 0;
}

.logo__image {
  width: 119px;
  height: 28px;
  background: url(../assets/logo.svg) no-repeat center / contain;
}

.logo__text {
  display: none;
}










/* cta component reference

.cta
.cta--primary
.cta--secondary

*/

.cta {
  text-decoration: none;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 100em;
  color: hsl(0, 0%, 98%);
}

.cta--primary {
  background: var(--color-primary);
}

.cta--secondary {
  background: var(--color-secondary);
}










/* divider and number */

.divider-container {
  display: flex;
}

.divider-left {
  border-right: 1px solid hsl(240, 10%, 57%, 25%);
  width: 100%;
  height: 84px;
}

.divider-right {
  width: 100%;
  height: 84px;
}

.number {
  display: inline-block;
  border: 1px solid hsl(240, 10%, 57%, 25%);
  border-radius: 1000rem;
  background: var(--color-bg-body);
  color: hsl(240, 10%, 57%);
  padding: 1rem 1.2rem;
}









/* ad sections */

.ad--first {
  background: url(../assets/tablet/image-hero.png) no-repeat top / contain;
  padding-top: 50%;
}

.ad--third {
  background: linear-gradient(hsl(192, 37%, 48%, 90%), hsl(192, 37%, 48%, 90%)), url(../assets/mobile/image-footer.jpg) no-repeat top / cover;
  padding: 4.5rem 0;
  color: white;
}

.ad--third .ad__heading {
  color: var(--color-text-heading-alternative);
  margin-bottom: 1.5rem;
}

.ad--third .ad__body {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .ad--third {
    background: linear-gradient(hsl(192, 37%, 48%, 90%), hsl(192, 37%, 48%, 90%)), url(../assets/tablet/image-footer.jpg) no-repeat top / cover;
  }
}

@media screen and (min-width: 1440px) {
  .ad--first {
    background: 
    url(../assets/desktop/image-hero-left.png) no-repeat -3rem / auto,
    url(../assets/desktop/image-hero-right.png) no-repeat calc(100% + 3rem) / auto;
    padding-top: 0;
  }

  .ad--third {
    display: flex;
    justify-content: space-around;
    text-align: start;
    background: linear-gradient(hsl(192, 37%, 48%, 90%), hsl(192, 37%, 48%, 90%)), url(../assets/desktop/image-footer.jpg) no-repeat top / cover;
    padding: 6rem 0;
  }

  .ad--third .ad__heading,
  .ad--third .ad__body {
    margin: 0;
  }
}










.ad__images {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.ad__image {
  width: 141px;
  height: 133px;
  border-radius: 1rem;
}

.ad__image--first {
  background: url(../assets/desktop/image-woman-in-videocall.jpg) no-repeat center / contain;
}

.ad__image--second {
  background: url(../assets/desktop/image-women-videochatting.jpg) no-repeat center / contain;
}

.ad__image--third {
  background: url(../assets/desktop/image-men-in-meeting.jpg) no-repeat center / contain;
}

.ad__image--fourth {
  background: url(../assets/desktop/image-man-texting.jpg) no-repeat center / contain;
}

@media screen and (min-width: 1440px) {
  .ad__images {
    gap: 2rem;
  }

  .ad__image {
    width: 255px;
    height: 242px;
    border-radius: 1rem;
  }
}









.ad--first .ad__heading,
.ad--first .ad__body,
.ad--second .ad__heading,
.ad--second .ad__body,
.ad--third .ad__heading,
.ad--third .ad__body {
  max-width: 327px;
}

@media screen and (min-width: 768px) {
  .ad--first .ad__heading {
    max-width: 339px;
  }

  .ad--first .ad__body {
    max-width: 457px;
  }

  .ad--second .ad__heading {
    max-width: 445px;
  }

  .ad--second .ad__body {
    max-width: 573px;
  }

  .ad--third .ad__heading {
    max-width: 457px;
  }

  .ad--third .ad__body {
    max-width: 573px;
  }
}

@media screen and (min-width: 1440px) {
  .ad--first .ad__heading {
    max-width: 445px;
  }

  .ad--first .ad__body {
    max-width: 540px;
  }

  .ad--second .ad__heading {
    max-width: 445px;
  }

  .ad--second .ad__body {
    max-width: 540px;
  }

  .ad--third .ad__heading {
    max-width: 457px;
  }

  .ad--third .ad__body {
    max-width: 350px;
  }
}









.ad__heading--accent {
  font-size: var(--fs-base);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-primary);
}


















/* Layout */

@media screen and (min-width: 768px) {
  .flex-at-tablet {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .flex-at-desktop {
    display: flex;
  }
}

.justify-content-center {
  justify-content: center;
}









/* Spacing reference

Mobile: 54, 48, 24, 32, 16, 64
Tablet: 40, 32, 64, 80, 16, 48, 67, 24, 72
Desktop: 108, 32, 116, 64, 80, 16, 32, 72

*/

.gap-component-1 {
  margin-bottom: 1rem; /* 16 */
}

.gap-component-2 {
  margin-bottom: 1.5rem; /* 24 */
}

.gap-component-3 {
  margin-bottom: 2rem; /* 32 */
}

@media screen and (min-width: 1440px) {
  .gap-component-1 {
    margin-bottom: 1.5rem; /* 16 */
  }
  
  .gap-component-2 {
    margin-bottom: 2rem; /* 24 */
  }
  
  .gap-component-3 {
    margin-bottom: 3rem; /* 32 */
  }
}




.gap-section-1 {
  margin-bottom: 3rem;
}

.gap-section-2 {
  margin-bottom: 3.5rem;
}

.gap-section-3 {
  margin-bottom: 4rem;
}

@media screen and (min-width: 1440px) {
  .gap-section-1 {
    margin-bottom: 64px;
  }
  
  .gap-section-2 {
    margin-bottom: 72px;
  }
  
  .gap-section-3 {
    margin-bottom: 4rem;
  }
}









/* Helpers */

.color-accent-primary {
  color: var(--color-accent-primary);
}

.color-accent-secondary {
  color: var(--color-accent-secondary);
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.pull-up {
  margin-top: -1.8rem;
}